In [21]:
import pandas as pd

In [83]:
pd.read_csv('C:/Users/UALESP/Documents/Projects - local/Student Competition 2024/results/results_2024-06-03_15-44-41_bootstrap_False_contamination_0.001_max_features_0.8_max_samples_0.8_n_estimators_50_n_jobs_None_random_state_42_verbose_0_warm_start_False_.csv', sep=',')

          Transaction_ID   Rank
0   18146831249219924369    1.0
1    2138086120417120015    2.0
2   10749529880190657566    3.0
3    5504117406337296559    4.0
4   14576478498251562705    5.0
..                   ...    ...
95  14243198469901588861   96.0
96   3754612610631010759   97.0
97  15175913276331777655   98.0
98   6239755889674150093   99.0
99  15344570624302613734  100.0

[100 rows x 2 columns]

In [74]:
def load_submission_file(file_loc : str):
    submission = pd.read_csv(file_loc, sep=',')
    submission.reset_index(inplace=True)
    submission.rename(columns={'index': 'Rank'}, inplace=True)
    submission['Rank'] = submission['Rank'] + 1
    return submission

def score_df(df_in : pd.DataFrame, true_file_loc : str, compare_over_n : int):
    df_true = pd.read_csv(true_file_loc)[['Transaction_ID', 'Class']]
    df_in['Transaction_ID'] = pd.to_numeric(df_in['Transaction_ID'], errors='coerce')
    df_true['Transaction_ID'] = pd.to_numeric(df_true['Transaction_ID'], errors='coerce')
    joined_df = df_true.set_index('Transaction_ID').join(df_in.set_index('Transaction_ID'), how = 'inner')
    return joined_df['Class'].iloc[0:compare_over_n].sum(), joined_df.loc[joined_df['Class'] == 1,'Rank'].sum()   

def load_and_score_submission(file_loc : str,
                            true_file_loc : str = 'C:/Users/UALESP/Documents/Projects - local/Student Competition 2024/input_data/vlk_fraud_solution_complete.csv',
                            compare_over_n : int = 100):
    submission = load_submission_file(file_loc)
    Correct, Rank_tot = score_df(submission, true_file_loc, compare_over_n)
    # Correct = score_df(submission, true_file_loc, compare_over_n)

    return  Correct, Rank_tot/Correct

In [77]:
load_and_score_submission('C:/Users/UALESP/Documents/Projects - local/Student Competition 2024/results/results_2024-06-03_15-44-41_bootstrap_False_contamination_0.001_max_features_0.8_max_samples_0.8_n_estimators_50_n_jobs_None_random_state_42_verbose_0_warm_start_False_.csv')

(47,
 Rank    47.531915
 Rank    48.531915
 dtype: float64)

In [82]:
load_submission_file('C:/Users/UALESP/Documents/Projects - local/Student Competition 2024/results/results_2024-06-03_15-44-41_bootstrap_False_contamination_0.001_max_features_0.8_max_samples_0.8_n_estimators_50_n_jobs_None_random_state_42_verbose_0_warm_start_False_.csv')
# pd.to_numeric(test['Transaction_ID'], errors='coerce')

    Rank        Transaction_ID   Rank
0      1  18146831249219924369    2.0
1      2   2138086120417120015    3.0
2      3  10749529880190657566    4.0
3      4   5504117406337296559    5.0
4      5  14576478498251562705    6.0
..   ...                   ...    ...
95    96  14243198469901588861   97.0
96    97   3754612610631010759   98.0
97    98  15175913276331777655   99.0
98    99   6239755889674150093  100.0
99   100  15344570624302613734  101.0

[100 rows x 3 columns]